body {
    margin: 0;
    min-height: 100vh;
    background-color: #1A3D63;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 1px;
    margin: 1px;
    background-color: #B3CFE5;
    text-align: center;
}

.nav-item {
    display: inline-block;
    color: #0A1931;
    font-size: 30px;
    margin: 15px;        
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    max-width: fit-content;
}

.p {
    color: rgb(89, 93, 89);
}

header {
    text-align: center;
}

header .word1 {
    color: #4A7FA7;
    font-size: 80px;
    text-align: center;
}

header .word2 {
    color: #6b0a29;
    font-size: 80px;
    text-align: center;
}

.content-grid {
    display: grid;
    gap: 1em;
    padding: 16px;
    margin-top: 150px; 
    margin-bottom: 0;
    box-sizing: border-box;
    min-height: calc(100vh - 150px);  

    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, 1fr);  

    grid-template-areas:
        "box-1 box-1 box-2 box-2"
        "box-3 box-3 box-2 box-2"
        "box-6 box-6 box-4 box-5"
        "box-7 box-7 box-8 box-5";
}

.content-item {            
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background-color: #B3CFE5;
    width: 100%;
    height: 100%;
    border: 2px solid #1A3D63;
}

.second {
    background-image: url("IMG/Img 1.jpg");
    background-size: cover; 
    background-position: center;
}



@media screen and (max-width: 600px) {
    
    .banner {
        position: fixed;
        top: 0;
        left: 0;
        width: 220px;        
        height: 100vh;      
        padding: 12px;
        margin: 0;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .content-grid {
        margin-left: 240px; 
        margin-top: 16px;
        margin-bottom: 0;
        padding: 16px;
        min-height: calc(100vh - 16px); 
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(140px, 1fr);  
        grid-template-areas: 
            "box-1 box-2"
            "box-3 box-2"
            "box-4 box-5"
            "box-6 box-6"
            "box-7 box-7"
            "box-8 box-8";
    }

    .banner nav {
        display: block;
        margin-top: 12px;
    }

    .nav-item {
        display: block;
        margin: 8px 0;
        font-size: 18px;
    }

    .content-item {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    
    .content-grid {
        margin-left: 0;
        margin-top: 150px;
        margin-bottom: 0;
        min-height: calc(100vh - 150px);  
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(120px, 1fr);  
        grid-template-areas: 
            "box-1"
            "box-2"
            "box-3"
            "box-4"
            "box-5"
            "box-6"
            "box-7"
            "box-8";
    }
    
    .banner {
        width: 100%;
        height: auto;
        position: fixed;
    }
    
    .nav-item {
        display: inline-block;
        font-size: 14px;
        margin: 5px;
    }
}
